@{
    ViewData["Title"] = "MarketCap Analyzer";
}

<div class="panel panel-info">
    <div class="panel-heading">MarketCap Analyzer</div>
    <div class="panel-body">
        <table id="coinTable" class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Coin
                    </th>
                    <th>
                        Symbol
                    </th>
                    <th>
                        Value €
                    </th>
                    <th>
                        Value BTC
                    </th>
                    <th>
                        Market cap €
                    </th>
                    <th>
                        Volume 24h €
                    </th>
                    <th>
                        Change 1h %
                    </th>
                    <th>
                        Change 24h %
                    </th>
                    <th>
                        Change 7d %
                    </th>
                    <th>
                        MCap / Volume
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>



